.App {
  text-align: center;
  background-color: #cac9c3;
  padding: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
  color: #b9ffd8 !important;
  font-weight: 700;
}

.main-first {
  padding-top: 50px;
}

#root {
  background-color: #f3fbfa;
}

.Box-porto {
  background-color: #fdfff766;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px #919c80;
  margin: 2% 1.65%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.Box-porto h3 {
  color: #505050;
  padding-top: 2%;
  text-shadow: 1px 1px 2px #4ba986;
  position: absolute;
  top: 1%;
}

.Box-porto p {
  color: #505050;
  text-shadow: 1px 1px 2px #4ba986;
}

.Box-porto button {
  position: absolute;
  bottom: 5%;
  opacity: 0.7;
}

.Box-porto:hover {
  background-color: #fdfff724;
  transition: background-color 0.3s ease;
}

.Box-movies {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
  background-position: center;
}

.Box-movies h3 {
  background-color: #f5f5dc94;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 1px 4px white;
  padding: 2%;
}

.Box-movies .publishMovies {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(0 0 0);
  font-weight: 700;
  margin: 0;
  background: #94c38c96;
  padding: 2%;
}

.Box-movies .imdbMovies {
  position: absolute;
  top: 5px;
  left: 5px;
}

.Box-movies .fa-star {
  color: gold;
  padding-right: 5px;
}

#btn-addmovie {
  position: absolute;
  top: 80px;
  left: 2vw;
}
#toDoList {
  background: linear-gradient(
    90deg,
    rgb(1, 54, 52) 0%,
    rgb(100, 237, 255) 100%
  );
  padding: 5%;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

#toDoList h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(78, 92, 89);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(78, 92, 89) 0%, rgb(20, 36, 35) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgba(7, 123, 43, 1);
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(7, 123, 43, 1) 0%,
    rgba(7, 37, 0, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, #243b55 0%, #4c5d7e 100%);
  padding: 16px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 1px 1px 2px #457745;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, #2c3e50 0%, #bdc3c7 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, #48b1bf 0%, #06beb6 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, #185a9d 0%, #43cea2 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

@media (max-width: 468px) {
  .todo-row {
    width: 80%;
  }

  .todo-input {
    width: 200px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
